layout {
  default_tab_template {
    // the default zellij tab-bar and status bar plugins
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  tab name="ide" focus=true {
    pane {
      name "editor"
      borderless true
      focus true
    }
  }

  tab name="shell" {
    pane split_direction="horizontal" {
      pane name="run"
      pane name="commands"
    }
  }

}
